:root {
  --var1: 100%;
}
body {
  background-color: #272b30;
}
.cover {
  background-image: url(../images/wraper.png), linear-gradient(#272b30, #272b30);
  background-size: cover;
  background-position: center center;
  height: 30vh;
}
.w-10 {
  width: 15%;
}
.navbar {
  background-color: #3a497b !important;
  position: relative;
  top: -10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #0099cc;
}

.free {
  background-color: #0d6efd;
  font: 600 white 1rem;
  height: fit-content;
  width: fit-content;
}

.bg-foot {
  background-color: #272b2f;
}

.bg-foot span {
  font-size: x-small;
  padding: 0 8px;
  background-color: #32383e;
}
.cover1 {
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.cover1::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--var1);
}

.cover1:hover {
  transform: scale(1.1);
  --var1: 0%;
}
.idselect {
  position: absolute;
  background-color: transparent;
  inset: 0;
}

.dspan {
  color: #000;
  background-color: #0dcaf0;
  font-size: smaller;
}

.fs-10 {
  font-size: 0.5rem;
}

#game .btn:hover {
  background-color: #ffc107;
}
#game i {
  cursor: pointer;
}

/* Loading  */
.loader {
  width: 250px;
  margin: 0 auto;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: orangered;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
